.form__button {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 50px;
    margin-top: 48px;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.2;
    transition: .3s all ease;
}

.form__button:hover {
    opacity: 0.8;
    cursor: pointer;
}