@import url(./__logo/header__logo.css);

.header {
    padding: 45px 0 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
    .header {
        padding-left: 24px;
        
    }
}

@media screen and (max-width: 617px) {
    .header {
        padding: 28px 0 31px 27px;
        
    }
}