@import url(./__image/popupimage__image.css);
@import url(./__modal/popupimage__modal.css);
@import url(./__title/popupimage__title.css);

.popupimage {
    background-color:rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0;
}