.profile__pen {
    border: 1px solid #FFFFFF;
    background: url(../../../images/line.svg) center center no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left: 17px;
    transition: .3s all ease;
    
}

.profile__pen:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 617px) {
    .profile__pen {
        width: 16px;
        height: 16px;
        margin: 0;  
    }
}