@import url(./__button/kusto__button.css);
@import url(./__foto/kusto__foto.css);
@import url(./__pen/kusto__pen.css);
@import url(./__plus/kusto__plus.css);
@import url(./__subtitle/kusto__subtitle.css);
@import url(./__text/kusto__text.css);
@import url(./__title/kusto__title.css);

.kusto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 36px 0 46px;
}

@media screen and (max-width: 617px) {
    .kusto {
        flex-direction: column;
        padding: 38px 0 36px; 
    }
}