@import url(./__button/kusto__button.css);
@import url(./__foto/kusto__foto.css);
@import url(./__pen/kusto__pen.css);
@import url(./__plus/kusto__plus.css);
@import url(./__subtitle/kusto__subtitle.css);
@import url(./__text/kusto__text.css);
@import url(./__title/kusto__title.css);


.kusto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 36px 0 46px;
}

@media screen and (max-width: 617px) {
    .kusto {
        flex-direction: column;
        padding: 38px 0 36px; 
    }

    .kusto__title {
        font-size: 27px;
        margin-top: 20px;
        
    }

    .kusto__text {
        margin: 0;
        text-align: center;
        max-width: 80%;
    }

    .kusto__subtitle {
        font-size: 14px;
        margin-top: 14px;
    }

    .kusto__title::after {
        
        width: 16px;
        height: 16px;
        top: 10px;
        left: calc(100% + 5px);
    
    }

    .kusto__button {
        margin: 0;
        margin-top: 36px;
        width: 282px;

    }

    .kusto__plus {
        width: 16px;
        height: 16px;
    }

    .kusto__pen {
        width: 16px;
        height: 16px;
        top: 30px;
        left: calc(100% + 7px);
    
    }
}