.popup__modal {
    max-width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 188px;
    position: relative;
    padding: 36px;
    margin: 188px 12px 0;
    }