@import url(./__author/footer__author.css);

.footer {
    margin: 66px 0 60px;
    }

@media screen and (max-width: 900px) {
    .footer {
        padding-left: 24px;
    }
}  

@media screen and (max-width: 617px) {
    .footer {
        margin: 48px 19px 36px;
        padding: 0;
    }
}    