.profile__button {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    margin-left: auto; 
    background: url(../../../images/plus.svg) center center no-repeat; 
    transition: .3s all ease;
}

.profile__button:hover {
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 720px) {
    .profile__button {
        width: 130px;
    }
}
@media screen and (max-width: 617px) {
    .profile__button {
        margin: 0;
        margin-top: 36px;
        width: 282px;
    }
}